# ===== For C++ gitignore =====

# Object files, libraries, executables
*.o
*.a
*.so
*.out
*.exe
*.dll

# Build directories and their outputs
build/
bin/
obj/
Debug/
Release/

# Dependency directories
deps/

# CMake output
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
Makefile

# For Visual Studio Code
.vscode/
